$primary: #ff5400;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;
$font-light: #ffff;

$border-light: rgb(55, 55, 55);
$border-grey-light: #585757;
$border-grey: #444444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;
$background-grey-absolute: #bebcb2;

$success: #69af00;
